
/* INDEX SIDEN*/

/* Navbar */

.navbar.custom-bg {
    background-color: #009F4E !important;
}

.btnnav {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.custom-font {
    font-family: chakra petch;
}

/* Billede på forsiden */

.container-fluid-image {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* Knappen i øverste billede */

.custom-button {
    font-family: chakra petch !important;
    color: #080808 !important;
}

.custom-button {
    font-family: chakra petch !important;
    color: #080808 !important;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.footer-logo {
    float: left;
    margin-right: 20px;
}
.footer-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-category {
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .footer-categories {
        flex-direction: column;
        align-items: flex-start;
    }
}