
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('Billeder/dark-dense-green-cloud-haze.jpg');
}

.bg-image {
    background-image: url('Billeder/dark-dense-green-cloud-haze.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* INDEX Page */

/* Navbar */

.navbar {
    background-image: url('Billeder/pexels-ben-mack-6775241.jpg');
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-logo {
    padding: 10px 10px;
}

.navbar-logo a {
    display: inline-block;
}

.navbar-logo img {
    height: 100%;
    width: auto;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

.navbar-text a {
    color: inherit;
    text-decoration: none;
}

.navbar-text p {
    margin: 0;
    font-size: 46px;
}

.navbar-links {
    display: flex;
    margin-left: auto;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navbar-links ul li {
    padding: 10px 15px;
}

.navbar-links ul li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: x-large;
}

.navbar-links ul li a:hover {
    color: #ddd;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
    }

    .navbar-center {
        position: static;
        transform: none;
        width: 100%;
    }

    .navbar-text {
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar-links {
        width: 100%;
        justify-content: center;
    }

    .navbar-links ul {
        width: 100%;
        justify-content: center;
    }

    .navbar-links ul li {
        margin: 5px 0;
    }
}




/* Forside billede */

.responsive-image {
    width: 100%;
    overflow: hidden;
}

.responsive-image img {
    width: 100%;
    height: 1000px;
}

.btnimage {
    font-family: chakra petch !important;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    color: #080808 !important;
    background-color: #25BDC3 !important;
}

/* Media queries for forskellige størrelser*/
@media (max-width: 1500px) {
    .responsive-image img {
        max-width: 100%;
        height: auto;
    }
}

/* Underbilleder på Index siden*/

.responsive-image {
    max-width: 100%;
    height: auto;
}


/* billede med quotes */


.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .container img {
    width: 100%;
    height: auto;
    display: block;
  }


  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    padding: 20px; /* Add padding to create space around the text */
    border: 4px solid white; /* Add outline around the text */
    border-radius: 10px; /* Add border radius for rounded corners */
  }

  /* Media queries for smaller screens */
  @media only screen and (max-width: 767px) {
    .text {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 479px) {
    .text {
      font-size: 14px; /* Further adjust font size for even smaller screens */
    }
  }

/* Footer */

.content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
    background-image: url('Billeder/pexels-ben-mack-6775241.jpg');
}


/* Bæredygtighed */

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 50px; /* Adjust the margin as needed */
}
.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-item figcaption {
    margin-top: 10px;
    text-align: center;
}
.video-item iframe {
    width: 560px;
    height: 315px;
    max-width: 100%; /* Ensure responsiveness */
}